*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;    
    font-family: 'PT Sans', sans-serif;
}

body
{
    background: #E5E5E5;

}

.container
{
    width:70vw;
    border-radius: 10px;
    margin: 40px auto;
    text-align: center;
    padding:70px 40px 40px;
    background: white;
}

.container h1
{
    padding: 20px 0;
    font-size:24px;
}

p
{
    color:#ABB4BD;
}


.click
{
    font-size: 18px;
}

button
{
    padding:10px 5px;
    background: white;
    margin: 10px;
    position: relative;
    width:100%;
    border: 1px solid rgba(171, 180, 189, 0.345873);
    box-shadow: 0px 10px 20px rgba(171, 180, 189, 0.211617);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer
}

button:hover
{
    border:lightsteelblue;
}

.icons
{
     position: relative;
     padding-left: 20px;
    
}

.icons img
{
    position: absolute;
    left:-12px;
    top:0;

}

.logging
{
    margin:10px;
    font-size:14px;
}

.logging a
{
    text-decoration: none;
    color:#6565ee;
    line-height: 31px;
    
}

@media (min-width:768px)
{
    button
    {       
        width:35%;
        margin: 20px 10px;
    }

}